.sablon{
    
margin:50px auto;
width: 1500px;
height: auto;

}
.ust{
    border-radius: 25px;
    width: 1500px;
    background-color: #9BE2F2;
}


.orta{
    border-radius: 25px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 1500px;
    background-color: #7AB8BF;

}

.ist{
    margin-top: 150px;
    margin-left: 50px;
    margin-right: 50px;
    margin

}



.sol{
    
    padding-left:15px;
    border-radius: 25px;
    margin-right: 50px;
    width: 300px;
    height: 500px;
    float: left;
    background-color: #9AD2D9;
}


.sag{
    
   
    border-radius: 25px;
    margin-left: 70px;
    width: 1500px; 
    height: auto;
    float: left;
    background-color: #D5EFF2;
    

}

h1{

font-size: 50px;

}

.alt{
    border-radius: 25px;
margin-top: 10px;
width: 1500px;
height: 50px;
float: left;
background-color:#F2F2F2;
}

h4{
    margin:0 0 0 0;
padding-top: 40px;
padding-bottom: 40px;
display: block;
text-align: center;
font-size: large;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
h5{
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    margin:0 0 0 0;
    text-decoration:underline ;
    text-align: center;
    color:#7AB8BF;
}

.sol ul{
    font-size: 20px;
  list-style: none;
  padding-left: 5px;
}

.sol li{
    padding: 5px;
}
.sol ul a{
    text-decoration: none;

}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: white;
  }





.galeri{
    float: left;
    margin:0;
    padding:2px ;
    width: 150px;
    height: 228px;
    border-style: solid;
    border-width: 2px;

}

.galeri2
{
    height: 40px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}   









